<!DOCTYPE html>
<html>
<head>
  <title>Smart Vending Machine Monitoring</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:52px 16px">
  <h1 class="w3-xlarge">VENDING MACHINE</h1>
  <h1>Dashboard</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
      <a href="{{ url_for('sales') }}" class="w3-bar-item w3-button">Sales</a>
      <a href="{{ url_for('inventory') }}" class="w3-bar-item w3-button w3-light-grey">Inventory</a>
    </div>
  </div>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding" style="margin-bottom:128px">
  <div class="w3-auto">
    <body>

      <h1>Inventory List</h1>
      
      <table class="w3-table w3-bordered">
        <thead>
          <tr>
            <th><h4>Item</h4></th>
            <th><h4>Stock Count</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Coke</p>
              <img src="static/coke.jpg" style="width:20%">
            </td>
            <td>{{ stock['Coke'] }}</td>
          </tr>
          <tr>
            <td>
              <p>Sprite</p>
              <img src="static/sprite.png" style="width:20%">
            </td>
            <td>{{ stock['Sprite'] }}</td>
          </tr>
          <tr>
            <td>
              <p>Fanta</p>
              <img src="static/fanta.jpg" style="width:20%">
            </td>
            <td>{{ stock['Fanta'] }}</td>
          </tr>
          <tr>
            <td>
              <p>Green Tea</p>
              <img src="static/greentea.jpg" style="width:20%">
            </td>
            <td>{{ stock['Green tea'] }}</td>
          </tr>
          <tr>
            <td>
              <p>Milo</p>
              <img src="static/pepsi.jpg" style="width:20%">
            </td>
            <td>{{ stock['Milo'] }}</td>
          </tr>
          <tr>
            <td>
              <p>Pepsi</p>
              <img src="static/milo.jpg" style="width:20%">
            </td>
            <td>{{ stock['Pepsi'] }}</td>
          </tr>
        </tbody>
      </table>
      </body>
  </div>

</div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> 
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>